.table-row-head{vertical-align: top!important;}
.table-striped {
    background-color: #F2F6FA!important;
    min-height: 100px;
  }

  .table-striped:nth-child(2n) {
    background: #F8FAFC!important;
  
  }
  
  .firstCap{text-transform: capitalize!important;}