  .cardWrap {
    // max-height: 132px;
    overflow: visible;
    ._content {
      // padding: 0 20px 10px 0;
      .heading {
        color: rgba(11, 25, 65, 0.6);
        font-family: interstate, sans-serif;
        font-size: 18px;
        letter-spacing: 0.14px;
        line-height: 24px;
        text-align: center;
        font-weight: "normal";
      }
    }
    .chip {
      display: inline-block;
      height: 8px;
    }
    .tooltip {
      position: relative;
      display: inline;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      //width: 70px;
      background-color: black;
      color: #fff;
      text-align: center;
      font-size: 12px;
      padding: 2px 8px;
      border-radius: 6px;
      //bottom: -22px;
      left: 24%;
      position: absolute;
      z-index: 1;
    }
    .showLeft {
      left: 0 !important;
    }
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    .toolTipWidth{
      width:180px;
    }
    .squareBox {
      width: 10px;
      height: 10px;
      margin: 5px 0px;
      float: left;
      border-radius: 5px;
    }
    .info {
      .text {
        color: #4c4c4c;
        font-size: 10px;
      }
      .percentage {
        color: rgba(0, 0, 0, 0.87);
        // margin-left: 10px;
        font-size: 12px;
      }
    }
    .keyPoints {
      margin: 10px 0;
    }
  }

