.previewBtn {
  border: 2px solid #0b1941;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 16px;
  padding: 5px 30px 4px 30px;
}
.cancelBtn {
  border: 2px solid #0b1941;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 16px;
  background-color: transparent;
  padding: 6px 30px 6px 30px;
}
.cancelBtn:hover {
  background-color: transparent;
}
.tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 50px;
  // margin-bottom: 25px;
}
.tabs li {
  // padding: 5px 40px 5px 0px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  color: #0b1941;
}
.tempHeading {
  font-size: 20px;
  color: #0b1941;
  font-weight: normal;
}
.tempTxt {
  font-size: 16px;
  color: #7f7f7f;
  font-weight: normal;
  padding: 5px 0px;
}
.tokenTag {
  /*border: 1px solid #979797;*/
  border: 1px solid black;
  text-transform: capitalize !important;
    /*padding: 0px 6px;
    margin: 10px 24px 10px 0px;*/
    padding:3px 6px;
    margin:10px 6px;
  color: #0b1941;
  font-size: 14px;
}
.subheading {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
}
