.settingHeading {
  font-weight: normal;
  font-size: 20px;
  color: #0b1941;
}
.checkbox-lable span.Mui-disabled {
  color: rgba(11, 25, 65, 0.87);
}
.description {
  color: rgba(0, 0, 0, 0.87);
}
.borderBottom {
  border-bottom: 1px solid #ccc;
}
.borderBottom:last-child {
  border-bottom: none;
}
